.main {
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.img {
    width: 45%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 45%;
    margin: 10px auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.formInput {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.input {
    height: 25px;
    width: 90%;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 10px;
    outline: none;
}

.wrongInput {
    height: 25px;
    width: 90%;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid red;
    border-radius: 10px;
    outline: none;
}

.textArea {
    height: 100px;
    width: 90%;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 10px;
    outline: none;
    text-align: center;
}

.wrongTextAreaInput {
    height: 100px;
    width: 90%;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid red;
    border-radius: 10px;
    outline: none;
    text-align: center;
}

.contactImg {
    width: 90%;
    min-width: 300px;
    margin: auto;
}

.submitBtn {
    height: 40px;
    width: 120px;
    margin: 20px auto;
    border: 1px solid rgb(219, 215, 215);
    border-radius: 10px;
    outline: none;
    background-color: rgb(219, 215, 215);
    cursor: pointer;
    animation: active 0.3s ease-out forwards;
}

.submitBtn:hover {
    background-color: white;
    box-shadow: 1px 1px 12px 2px rgb(224, 118, 13);
    color: rgb(224, 118, 13);
}

.submitBtnDisable {
    height: 40px;
    width: 120px;
    margin: 20px auto;
    border: 1px solid rgb(219, 215, 215);
    border-radius: 10px;
    outline: none;
    cursor: not-allowed;
    background-color: #bfbdbda8;
    color: grey;
    animation: deactive 0.3s ease-out forwards;
}

.successImg {
    width: 60%;
}

.msg {
    color: #222222;
    font-size: 18px;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 195px;
    height: 195px;
    background-color: rgb(102 102 102 / 89%);
    border-radius: 24px;
}

.finishBtn {
    height: 35px;
    width: 100px;
    margin: 8px auto;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: lightgray;
    color: grey;
    cursor: pointer;
}

.finishBtn:hover {
    background-color: rgb(231, 228, 228);
    color: rgb(61, 61, 61);
}

@keyframes active {
    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.0);
    }
}

@keyframes deactive {
    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.0);
    }
}

@media (max-width: 650px) {
    .main {
        flex-flow: column;
    }

    .contactImg {
        min-width: unset;
    }

    .form {
        width: 90%;
    }
}