.Main {
    width: 100%;
}

.intro {
    width: 95%;
    margin: 50px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.intro h2 {
    text-align: center;
}

.font {
    font-size: 100px;
}

.displayMain {
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.display {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.display img {
    width: 40%;
}

.details {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
}

.details h3 {
    text-align: center;
}

.btn {
    height: 40px;
    width: 150px;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 20px;
    background-color: white;
    color: grey;
    cursor: pointer;
}

.btn:hover {
    color: rgb(224, 118, 24);
    border: 1px solid rgb(224, 118, 24);
    box-shadow: 1px 1px 2px 1px rgb(224, 118, 24);
}


@media (max-width: 550px) {

    .display:nth-child(2n) {
        flex-flow: column-reverse;
    }

    .display:nth-child(2n+1) {
        flex-flow: column;
    }

    .display img {
        width: 60%;
    }

    .details {
        width: 95%;
    }

    .details h3 {
        text-align: center;
    }
}