.Main {
    width: 100%;
    margin: 50px auto;
}

.BackgroundPic {
    width: 90%;
    height: 200px;
    margin: 50px auto;
    background-image: url('../../Assets/background.png');
    background-position: center;
    background-size: cover;
}

.TableMain {
    width: 90%;
    margin: 50px auto;
}

tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.table {
    height: 80px;
    width: 130px;
    font-size: 14px;
    border: 1px solid grey;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.table img {
    height: 35px;
    width: 35px;
}

.table p {
    margin: 2px;
}

.table:hover {
    box-shadow: 2px 2px 8px 2px rgb(224 119 13);
    animation: pull 0.4s ease-out forwards;
}

.Search {
    width: 95%;
    margin: auto;
    background-color: rgb(121, 121, 121);
    border-radius: 30px;
    border: 1px solid rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 5px 5px 10px rgb(228 119 13);
}

.Input {
    width: 100%;
    margin: 35px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Groups {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
}

.SubGroup {
    display: flex;
}

.SubGroup label {
    width: 100px;
    height: 35px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Btn {
    height: 50px;
    width: 150px;
    margin: 35px auto;
    border: 1px solid rgb(66, 65, 65);
    border-radius: 30px;
    background-color: rgb(194, 194, 194);
    color: rgb(63, 62, 61);
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
    animation: activate 0.3s ease-out forwards;
}

.modelOption {
    text-transform: capitalize;
}

select {
    height: 35px;
    width: 150px;
    text-align-last: left;
    /* direction: ltr; */
    /* padding-left: 10px; */
    /* margin: 50px; */
    padding: 5px 35px 5px 5px;
    border: 1px solid #CCC;
  
}

option {
    /* text-align: center; */
    color: grey;
}

.Btn:hover {
    border: 1px solid rgb(224 119 13);
    box-shadow: 0px 0px 12px 2px white;
    color: white;
}

.BtnDisabled {
    cursor: not-allowed;
    height: 50px;
    width: 150px;
    margin: 35px auto;
    border: 1px solid rgb(66, 65, 65);
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: rgb(160, 156, 156);
    color: rgb(102, 102, 102);
    animation: deactivate 0.3s ease-out forwards;
}

.itemLink {
    text-decoration: none;
    color:grey;
}


@keyframes pull {
    100% {
        transform: scale(1.4);
        background-color: white;
        color: rgb(87, 86, 86);
    }
}

@keyframes activate {
    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.0);
    }
}

@keyframes deactivate {
    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.0);
    }
}

@media (max-width: 850px) {
    .SubGroup {
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 550px) {
    
    .Input {
        flex-flow: column;
    }

    .Groups {
        width: 100%;
    }

    .SubGroup {
        width: 100%;
    }

    .table {
        width: 105px;
    }

    label, select {
        width: 85%;
    }
}